.compare-table {
  &__title {
    font-weight: 700;
    white-space: nowrap;
    border-bottom: 1.5px solid black;
    margin-bottom: 10px;
  }
  &__body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__row--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 50vw;
  }
}
