<h2 class="app-title">{{ title.toUpperCase() }}</h2>
<div class="app-header">
  <app-user-input
    [data]="userData"
    (newItemEvent)="addNewItem($event)"
  ></app-user-input>
</div>
<div class="app-content">
  <app-score-table *ngIf="userData.length">
    <app-score-table-header header></app-score-table-header>
    <app-score-table-row body [dataForRender]="userData"></app-score-table-row>
  </app-score-table>
  <app-compare-table *ngIf="userData.length > 1">
    <app-compare-table-row
      [data]="userData"
      class="compare-table__row--container"
    >
    </app-compare-table-row>
  </app-compare-table>
</div>
<app-reset-button
  [isData]="userData.length"
  (click)="resetAppData()"
></app-reset-button>
