<tr
  class="compare-table__row"
  *ngFor="let item of dataForCompareTable"
  (click)="toggleValues($event)"
>
  <td
    [ngClass]="{
      'compare-table__cell': !item.firstItemIsMore,
      'compare-table__cell compare-table__cell--active': item.firstItemIsMore
    }"
    [id]="item.id"
  >
    {{ item.firstItemName }}
  </td>
  <td
    [ngClass]="{
      'compare-table__cell compare-table__cell--active': !item.firstItemIsMore,
      'compare-table__cell': item.firstItemIsMore
    }"
    [id]="item.id"
  >
    {{ item.secondItemName }}
  </td>
</tr>
