<tr
  class="compare-table__row"
  *ngFor="let item of dataForCompareTable"
  (click)="changeRatio(toogleItem.id)"
>
  <td
    [ngClass]="
      item.firstItemIsMore
        ? 'compare-table__cell compare-table__cell--active'
        : 'compare-table__cell'
    "
    [id]="item.id"
    #toogleItem
  >
    {{ item.firstItemName }}
  </td>
  <td
    [ngClass]="
      !item.firstItemIsMore
        ? 'compare-table__cell compare-table__cell--active'
        : 'compare-table__cell'
    "
    [id]="item.id"
    #toogleItem
  >
    {{ item.secondItemName }}
  </td>
</tr>
