<form
  class="user__form"
  novalidate
  [formGroup]="userInput"
  (ngSubmit)="submit()"
>
  <input
    [ngClass]="
      userInput.get('userItem')?.errors &&
      (userInput.dirty || userInput.touched)
        ? 'user__input user__input--error'
        : 'user__input'
    "
    [placeholder]="!!data.length ? 'Add new item' : 'Add your first item!'"
    formControlName="userItem"
    maxlength="8"
  />
  <div
    class="user__error--block"
    *ngIf="
      userInput.get('userItem')?.errors &&
      (userInput.dirty || userInput.touched)
    "
  >
    <p
      class="user__error"
      *ngIf="
        userInput.get('userItem')?.errors?.required &&
        (userInput.dirty || userInput.touched)
      "
    >
      Required
    </p>

    <p
      class="user__error"
      class="user__error"
      *ngIf="
        userInput.get('userItem')?.errors?.pattern &&
        (userInput.dirty || userInput.touched)
      "
    >
      Incorrect name
    </p>

    <p
      class="user__error"
      class="user__error"
      *ngIf="
        userInput.get('userItem')?.errors?.nonUnique &&
        (userInput.dirty || userInput.touched)
      "
    >
      This item already exists
    </p>
  </div>
  <button
    type="submit"
    name="submit"
    [ngClass]="
      userInput.get('userItem')?.errors
        ? 'user__submit user__submit--disable'
        : 'user__submit'
    "
    [disabled]="userInput.get('userItem')?.errors"
  >
    Add
  </button>
</form>
