<form
  class="user__form"
  novalidate
  [formGroup]="userInput"
  (ngSubmit)="submit()"
>
  <input
    [ngClass]="
      userInput.invalid && (userInput.dirty || userInput.touched)
        ? 'user__input user__input--error'
        : 'user__input'
    "
    [placeholder]="!!data.length ? 'Add new item' : 'Add your first item!'"
    formControlName="userItem"
    maxlength="8"
  />
  <!-- <p
    class="user__error"
    class="user__error"
    *ngIf="
      userInput.get('userItem').errors['required'] &&
      (userInput.dirty || userInput.touched)
    "
  >
    Required
  </p>
  <p
    class="user__error"
    class="user__error"
    *ngIf="
      userInput.get('userItem').errors['pattern'] &&
      (userInput.dirty || userInput.touched)
    "
  >
    Incorrect name
  </p>

  <p
    class="user__error"
    class="user__error"
    *ngIf="
      userInput.get('userItem').errors['usUnique'] &&
      (userInput.dirty || userInput.touched)
    "
  >
    This item already exists
  </p> -->
  <button
    type="submit"
    name="submit"
    [ngClass]="
      userInput.invalid ? 'user__submit user__submit--disable' : 'user__submit'
    "
    [disabled]="userInput.invalid"
  >
    Add
  </button>
</form>
