.user {
  &__form {
    position: relative;
  }
  &__form &__input {
    border: 2px solid rgba(128, 128, 128, 0.4);
    border-radius: 5px 0 0 5px;
    padding: 9px;
    outline: 0px;
    font-size: 0.9em;
    &--error {
      border: 2px solid rgba(255, 135, 135, 0.4);
    }
    &:focus {
      border: 2px solid rgb(0, 154, 188);
      color: black;
    }
  }

  &__submit {
    background: rgb(0, 221, 118);
    outline: none;
    border-radius: 0 5px 5px 0;
    border: 0px;
    padding: 11px 16px;
    color: white;
    font-size: 0.9em;
    &:hover {
      cursor: pointer;
    }
    &--disable {
      background: rgba(255, 49, 49, 0.534);
      &:hover {
        cursor: not-allowed;
      }
    }
    &:active {
      background-color: rgb(0, 170, 91);
    }
  }

  &__error--block {
    position: absolute;
    bottom: -80%;
    width: 80%;
    color: red;
    text-align: center;
    margin: 0;
    font-size: 0.8em;
  }
}
