.score-table {
  &__body {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &--item,
    &--score,
    &--win {
      padding: 5px 16px;
    }
  }
  &__body {
    position: relative;
    &--item {
      font-weight: 700;
      text-transform: uppercase;
    }
    &--score {
      text-align: center;
    }
    &--win,
    &--delete {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3px 5px;
      margin: 5px 8px;
      font-size: 11px;
      text-transform: uppercase;
      border-radius: 5px;
      color: white;
      text-align: center;
    }
    &--win {
      font-weight: 700;
      background-color: rgb(2, 212, 69);
    }
    &--delete {
      position: absolute;
      right: -30%;
      cursor: pointer;
      background-color: rgb(255, 96, 96);
      &:hover {
        transform: scale(1.1);
        background-color: rgb(255, 68, 68);
      }
    }
  }
}
